$transition: 0.3s;
$second:#E8ECEF;
$third:#F4F4F4;
$main: #EA6869;
$accent: #E64345;;
$danger: #FF1A8F;
$white: #FFFFFF;
$black: #000000;
$dark-gray: #666666;
$gray:  #8F8F8F;;
$light-gray: #CCCCCC;
$orange: #F2994A;
