.certificates-section{
    color: #464547;
    .certificates-board{
        gap: 60px;
    }
    .content{
        background: #EEEEEE;
        padding-top: 205px;
        padding-bottom: 204px;
        flex-basis: 597px;
    }
    .certificate {
        position: relative;
		&__bg {
            position: absolute;
            background: #CECECE;
            width: 162px;
            height: 84px;
            left: -30px;
            top: -30px;
            z-index: 1;
		}

		&__picture {
            position: relative;
            z-index: 2;
		}
}
    @media (max-width:1639px) {
        .content{
            flex-basis: 100%;
        } 
        .certificates-board{
            // justify-content: center;
        }
    }
    @media(max-width:1075px){
        .certificates-board{
            max-width: 1000px;
        }
    }
    @media(max-width:725px){
        .certificates-board{
            max-width: 700px;
        }
    }
    @media (max-width:620px) {
        .content{
            padding-left: 10px !important;
            padding-right: 5px !important;
        }
    }
}

